.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}


.text {
  color: red;
}